.form__labelText{


display: inline-block;
max-width: 150px;
width: 100%;
margin-right: 5px;


}


.form__field{


border: 1px solid #ccc;
max-width: 420px;
width: 100%;
padding: 10px;
border-radius: 5px;

}

.form__field:required{

    border-color: #777;
    
    
    }

.form__field:invalid{

background-color: hsl(0, 53%, 90%);


}

.form__field:disabled{

background-color: #aaa;

}



.form__button{

width: 100%;
border: none;
background-color: teal;
padding: 10px;
border-radius: 5px;
color: #fff;
margin-top: 10px;


}

.form__button:hover{



    background-color: hsl(180, 100%, 30%);

}

.form__button:active{



    background-color: hsl(180, 100%, 35%);

}

.form__fieldset{

border: 1px solid #ccc;
padding: 20px;
border-radius: 5px;
margin: 20px 0;


}






.form__legend{


background-color: teal;
color: #fff;
border-radius: 5px;
padding: 10px;

}


.form_field--select.form_field--select{

background-color:yellow;



}

.form__labelText--textarea{


resize: vertical;
max-height: 70px;


}